body {
  margin: 0;
  background: #111;
  color: #fff;
  font-family: Tahoma, Arial;
  text-align: center;
}

h1, h2 {
  margin: 20px 0;
}

.channels {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

.channel {
  background: #222;
  padding: 20px;
  border-radius: 12px;
  text-decoration: none;
  color: #fff;
  width: 180px;
  transition: 0.3s;
}

.channel:hover {
  background: #333;
}

.player {
  position: relative;
  width: 95%;
  max-width: 900px;
  margin: 20px auto;
  padding-top: 56.25%;
}

.player iframe {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border: none;
}

a {
  color: #0af;
  text-decoration: none;
}