body { font-family: Arial; background:#1c1c1c; color:#fff; padding:20px; }
h1,h3 { color:#f7c600; }
input, select, button { padding:5px; margin:5px 0; }
button { background:#f7c600; border:none; cursor:pointer; }
.container { border:1px solid #444; padding:15px; margin:15px 0; border-radius:10px; }
table { border-collapse: collapse; width:100%; margin-top:10px; }
table, th, td { border:1px solid #fff; padding:5px; text-align:center; }
img { max-width:50px; }